<header class="header">
    <ul>
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <a href="/posts">Posts</a>
        </li>
        <li>
            <a href="/cadastro-posts">Cadastrar Post</a>
        </li>
    </ul>
</header>