<footer>
    <img src="https://st3.depositphotos.com/5848738/36992/v/380/depositphotos_369929780-stock-illustration-podcast-neon-template-glowing-podcast.jpg?forcejpeg=true" alt="">
    <p class="copyright">&copy; Todos os direitos reservados - 2022</p>
</footer>