<header>
    <ul>
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <a href="/Posts">Posts</a>
        </li>
        <li>
            <a href="/cadastro-post">Cadastrar Posts</a>
        </li>
    </ul>
</header>